.container {
    background-color: red;
    max-width: 100vw;
    height: 100vh;

    background: url('/public/assets/images/BG.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 15px;
}

.leftBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.rightItems {
    justify-content: flex-end !important;
}