.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    /* position: absolute; */
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
    gap: 30px;
}

.title {
    font-family: "Itim";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #CCF2FF;
    text-shadow: 21px 21px 6px rgba(0, 0, 0, 0.25);
}

.image {
    width: 120px;
    height: 120px;
}